body {
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.subContainer {
    display: flex;
    flex-direction: column;
}

.subContainer span {
    margin: 16px;
}

.synsetsOutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 16px;
}

.synsetTable {
    margin: 32px;
    padding: 8px;
    border-color: gray;
    background-color: aquamarine;
    border: 2px solid rgb(0, 0, 0);
}

.synsetTable tbody:first-child {
    font-weight: bold;
}

.synsetTable tbody {
    border: 2px solid rgba(0, 0, 0, 0);
}

td {
    border: 1px solid;
    padding: 2px;
  }